.form-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-buttons-container button[type=submit] {
  margin-left: 15px;
}

.row {
  margin-bottom: 10px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards .react-card-flip {
  max-width: 300px;
  width: 50%;
  margin: 0 auto;
}

.cards .react-card-flip .member-card-front, .cards .react-card-flip .member-card-back {
  background-color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  padding: 15px 0;
}
